* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: radial-gradient(circle at center, #000000, #1f383a, #000202);
  color: #fff;
  overflow-x: hidden;
}

/* Navbar */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 50px;
  background: transparent;
  z-index: 100;
  backdrop-filter: blur(6px);
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-left: 30px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  position: relative;
  transition: color 0.3s;
}

nav ul li a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: -5px;
  background: #00f0ff;
  transition: 0.3s;
}

nav ul li a:hover {
  color: #00f0ff;
}

nav ul li a:hover::after {
  width: 100%;
}

/* Sections */
section {
  padding: 80px 8%;
  position: relative;
  z-index: 2;
  min-height: 100vh;
}

h2 {
  text-align: center;
  font-size: 3rem;
  color: #00f0ff;
  text-shadow: 0 0 10px #00f0ff, 0 0 20px #00f0ff, 0 0 30px #fff;
  margin-bottom: 50px;
}

/* Cover */
.cover {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8%;
  height: 100vh;
}

.cover-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.cover-left h1 {
  font-size: 4rem;
  color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #00f0ff;
  cursor: pointer;
  transition: transform 0.3s, text-shadow 0.3s;
}

.cover-left h1:hover {
  transform: translateZ(10px) scale(1.05);
  text-shadow: 0 0 15px #fff, 0 0 30px #00f0ff, 0 0 50px #00f0ff;
}

.cover-left p {
  font-size: 1.5rem;
  margin-top: 10px;
  color: #c0f0ff;
  text-shadow: 0 0 8px rgba(192, 240, 255, 0.7);
}

.cover-left .bio {
  margin-top: 20px;
  max-width: 600px;
  font-size: 1.1rem;
  color: #c0f0ff;
  text-shadow: 0 0 6px rgba(192, 240, 255, 0.5);
  line-height: 1.5;
}

.btn-group {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  margin-top: 25px;
}

.btn {
  padding: 12px 30px;
  background: #00f0ff;
  color: #03121a;
  border: none;
  border-radius: 25px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  transition: background 0.3s, box-shadow 0.3s;
  display: inline-flex;
  align-items: center;
}

.btn:hover {
  background: #00c0aa;
  box-shadow: 0 0 20px #00f0ff;
}

.btn--github {
  background: transparent;
  color: #00f0ff;
  border: 2px solid #00f0ff;
}

.btn--github:hover {
  background: rgba(0, 240, 255, 0.1);
  box-shadow: 0 0 20px #00f0ff;
}

.btn svg {
  width: 18px;
  height: 18px;
  margin-right: 8px;
}

.cover-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cover-right img {
  max-width: 400px;
  width: 100%;
  border: 4px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 40px rgba(0, 240, 255, 0.3);
  border-radius: 10px;
}

/* About */
.about-section {
  display: flex;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
}

.about-img {
  flex: 1;
  min-width: 300px;
  display: flex;
  justify-content: center;
}

.about-img img {
  width: 280px;
  height: 420px;
  border-radius: 50%;
  object-fit: cover;

  box-shadow: 0 0 15px rgba(0, 240, 255, 0.2), 0 0 30px rgba(0, 240, 255, 0.3),
    0 0 45px rgba(0, 240, 255, 0.4);

  transition: transform 0.3s, box-shadow 0.3s;
}

.about-img img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 240, 255, 0.25), 0 0 40px rgba(0, 240, 255, 0.35),
    0 0 60px rgba(0, 240, 255, 0.45);
}

.about-text {
  flex: 2;
  min-width: 300px;
  color: #c0f0ff;
  line-height: 1.8;
  font-size: 1.25rem;
  text-shadow: 0 0 8px rgba(192, 240, 255, 0.4);
}

/* Education, Services, Skills */
.edu-container,
.services-container,
.packages-container,
.skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.edu-card,
.service-card,
.package-card,
.skill-card {
  background: rgba(3, 18, 26, 0.3);
  border-radius: 15px;
  padding: 35px 30px;
  width: 380px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 0 10px rgba(0, 240, 255, 0.3);
  cursor: pointer;
}

.edu-card:hover,
.service-card:hover,
.package-card:hover,
.skill-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 30px #00f0ff;
}

.edu-card h3,
.service-card h3,
.package-card h3,
.skill-card h3 {
  color: #00f0ff;
  text-shadow: 0 0 5px #00f0ff;
  margin-bottom: 10px;
  font-size: 1.75rem;
}

.edu-card p,
.service-card p,
.package-card ul li,
.skill-card p {
  color: #c0f0ff;
  text-shadow: 0 0 6px rgba(192, 240, 255, 0.5);
  font-size: 1, 5rem;
}

.order-btn {
  display: inline-block;
  padding: 10px 20px;
  background: transparent;
  border: 2px solid #00f0ff;
  color: #00f0ff;
  border-radius: 30px;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
  text-shadow: 0 0 5px #00f0ff;
}

.order-btn:hover {
  background: #00f0ff;
  color: #03121a;
  box-shadow: 0 0 15px #00f0ff, 0 0 30px #00f0ff;
}

/* Stars */
.star,
.moving-star {
  position: absolute;
  border-radius: 50%;
}

.star {
  background: #fff;
  opacity: 0.9;
  box-shadow: 0 0 8px #fff;
  animation: twinkle 2s infinite ease-in-out alternate;
}

@keyframes twinkle {
  from {
    opacity: 0.3;
    transform: scale(1);
  }

  to {
    opacity: 1;
    transform: scale(1.4);
  }
}

.moving-star {
  background: #99ddff;
  box-shadow: 0 0 10px #99ddff;
  opacity: 0.8;
  animation: moveStar linear infinite;
}

@keyframes moveStar {
  from {
    transform: translate(0, 0);
    opacity: 1;
  }

  to {
    transform: translate(-200px, 200px);
    opacity: 0;
  }
}

@media (max-width: 900px) {
  .cover {
    flex-direction: column;
    text-align: center;
    padding: 0 5%;
  }

  .cover-left,
  .cover-right {
    flex: unset;
  }

  .cover-right img {
    margin-top: 30px;
    max-width: 300px;
  }

  .btn-group {
    justify-content: center;
  }

  .edu-card,
  .service-card,
  .package-card,
  .skill-card,
  .about-text,
  .about-img {
    width: 90%;
    flex: unset;
    margin: 10px auto;
  }

  .about-img img {
    margin-top: 30px;
  }

  .skills-container {
    gap: 25px;
    justify-content: center;
  }
}

.edu-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 15px;
  box-shadow: 0 0 15px rgba(0, 240, 255, 0.3);
  transition: transform 0.3s, box-shadow 0.3s;
}

.edu-card img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 30px #00f0ff;
}

/* Skills */

.skills-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 25px;
  justify-items: center;
}

.skill-card {
  width: 200px;
  padding: 20px;
}

.skill-card img {
  width: 60px;
  height: 60px;
}

.skill-card h3 {
  font-size: 1.1rem;
}

@media (max-width: 1200px) {
  .skills-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 992px) {
  .skills-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .skills-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .skills-container {
    grid-template-columns: 1fr;
  }
}

.packages-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  justify-items: center;
}

.package-card {
  width: 320px;
  padding: 45px 30px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 240, 255, 0.3);
  border-radius: 15px;
  background: rgba(3, 18, 26, 0.3);
}

.package-card h3 {
  font-size: 1.5rem;
  color: #00f0ff;
  text-shadow: 0 0 5px #00f0ff;
  margin-bottom: 20px;
}

.package-card ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 25px;
  color: #c0f0ff;
}

.package-card ul li {
  margin: 10px 0;
  font-size: 1.1rem;
}

.order-btn {
  padding: 10px 20px;
  background: transparent;
  border: 2px solid #00f0ff;
  color: #00f0ff;
  border-radius: 30px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
}

.order-btn:hover {
  background: #00f0ff;
  color: #03121a;
  box-shadow: 0 0 15px #00f0ff, 0 0 30px #00f0ff;
}

@media (max-width: 1200px) {
  .packages-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .packages-container {
    grid-template-columns: 1fr;
  }
}

section {
  padding: 80px 8%;
  position: relative;
  z-index: 2;
}

.services-title {
  text-align: center;
  font-size: 3rem;
  color: #00f0ff;
  text-shadow: 0 0 10px #00f0ff, 0 0 20px #00f0ff, 0 0 30px #fff;
  margin-bottom: 50px;
}

.services-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.service-card {
  width: 300px;
  padding: 35px 30px;
  border-radius: 20px;
  background: rgba(3, 18, 26, 0.4);
  box-shadow: 0 0 20px rgba(0, 240, 255, 0.4);
  transition: transform 0.3s, box-shadow 0.3s;
}

.service-card h3 {
  font-size: 1.7rem;
  color: #bbe3e6;
  text-shadow: 0 0 15px #00f0ff, 0 0 30px #00f0ff, 0 0 45px #00f0ff;
  margin-bottom: 15px;
}

.service-card p {
  font-size: 1.15rem;
  color: #c0f0ff;
  text-shadow: 0 0 10px rgba(0, 240, 255, 0.6);
  margin-bottom: 10px;
}

.service-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 50px #00f0ff, 0 0 70px #00f0ff;
}

section {
  padding: 80px 8%;
  position: relative;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  align-items: flex-start;
}

.contact-title {
  width: 100%;
  text-align: center;
  font-size: 3rem;
  color: #00f0ff;
  text-shadow: 0 0 10px #00f0ff, 0 0 20px #00f0ff, 0 0 30px #fff;
  margin-bottom: 50px;
}

/* Left Form */
.contact-form {
  background: rgba(3, 18, 26, 0.3);
  border-radius: 15px;
  padding: 30px;
  max-width: 400px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0 0 15px rgba(0, 240, 255, 0.3);
  transition: box-shadow 0.3s;
}

.contact-form:hover {
  box-shadow: 0 0 30px #00f0ff;
}

.contact-form input,
.contact-form textarea {
  padding: 15px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 1rem;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  box-shadow: 0 0 10px rgba(0, 240, 255, 0.3);
  transition: box-shadow 0.3s, transform 0.3s;
}

.contact-form input:focus,
.contact-form textarea:focus {
  box-shadow: 0 0 20px #00f0ff;
  transform: scale(1.02);
}

.contact-form button {
  padding: 15px;
  border: none;
  border-radius: 25px;
  background: #00f0ff;
  color: #03121a;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s, box-shadow 0.3s, transform 0.3s;
}

.contact-form button:hover {
  background: #00c0aa;
  box-shadow: 0 0 20px #00f0ff;
  transform: scale(1.05);
}

/* Right Info */
.contact-info {
  background: rgba(3, 18, 26, 0.3);
  border-radius: 15px;
  padding: 30px;
  max-width: 400px;
  flex: 1;
  box-shadow: 0 0 15px rgba(0, 240, 255, 0.3);
  transition: box-shadow 0.3s;
}

.contact-info:hover {
  box-shadow: 0 0 30px #00f0ff;
}

.contact-info h3 {
  font-size: 1.8rem;
  color: #00f0ff;
  margin-bottom: 15px;
  text-shadow: 0 0 5px #00f0ff;
}

.contact-info p {
  font-size: 1rem;
  line-height: 1.5;
  color: #c0f0ff;
  margin-bottom: 10px;
  text-shadow: 0 0 5px rgba(192, 240, 255, 0.5);
}

.contact-links {
  margin-top: 15px;
  display: flex;
  gap: 15px;
}

.contact-links a {
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 25px;
  background: #00f0ff;
  color: #03121a;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: background 0.3s, box-shadow 0.3s;
}

.contact-links a:hover {
  background: #00c0aa;
  box-shadow: 0 0 15px #00f0ff;
}

/* Stars*/
.star,
.moving-star {
  position: absolute;
  border-radius: 50%;
}

.star {
  background: #ffffff;
  opacity: 0.9;
  box-shadow: 0 0 8px #ffffff;
  animation: twinkle 2s infinite ease-in-out alternate;
}

@keyframes twinkle {
  from {
    opacity: 0.3;
    transform: scale(1);
  }

  to {
    opacity: 1;
    transform: scale(1.4);
  }
}

.moving-star {
  background: #99ddff;
  box-shadow: 0 0 10px #99ddff;
  opacity: 0.8;
  animation: moveStar linear infinite;
}

@keyframes moveStar {
  from {
    transform: translate(0, 0);
    opacity: 1;
  }

  to {
    transform: translate(-200px, 200px);
    opacity: 0;
  }
}

@media (max-width: 900px) {
  section {
    flex-direction: column;
    align-items: center;
  }

  .contact-form,
  .contact-info {
    max-width: 90%;
  }
}

/*reviews*/

section {
  padding: 80px 8%;
  position: relative;
  z-index: 2;
}

.reviews-title {
  text-align: center;
  font-size: 3rem;
  color: #00f0ff;
  text-shadow: 0 0 10px #00f0ff, 0 0 20px #00f0ff, 0 0 30px #fff;
  margin-bottom: 50px;
}

.reviews-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.review-card {
  background: rgba(3, 18, 26, 0.3);
  border-radius: 15px;
  padding: 20px;
  width: 300px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 0 10px rgba(0, 240, 255, 0.3);
  cursor: pointer;
}

.review-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 30px #00f0ff;
}

.review-card img {
  width: 100%;
  height: 180px;
  border-radius: 10px;
  margin-bottom: 15px;
  box-shadow: 0 0 15px rgba(0, 240, 255, 0.3);
  transition: transform 0.3s, box-shadow 0.3s;
}

.review-card img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 30px #00f0ff;
}

.review-card p {
  font-size: 1rem;
  line-height: 1.5;
  color: #c0f0ff;
  text-shadow: 0 0 6px rgba(192, 240, 255, 0.5);
  margin-bottom: 15px;
}

section {
  padding: 80px 8%;
  position: relative;
  z-index: 2;
}

.projects-title {
  text-align: center;
  font-size: 3rem;
  color: #00f0ff;
  text-shadow: 0 0 10px #00f0ff, 0 0 20px #00f0ff, 0 0 30px #fff;
  margin-bottom: 50px;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.project-card {
  background: rgba(3, 18, 26, 0.3);
  border-radius: 15px;
  padding: 25px;
  width: 350px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 0 10px rgba(0, 240, 255, 0.3);
  cursor: pointer;
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 30px #00f0ff;
}

.project-card h3 {
  font-size: 1.3rem;
  color: #00f0ff;
  text-shadow: 0 0 5px #00f0ff;
  margin-bottom: 15px;
}

.project-card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 15px;
  box-shadow: 0 0 15px rgba(0, 240, 255, 0.3);
  transition: transform 0.3s, box-shadow 0.3s;
}

.project-card img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 30px #00f0ff;
}

.project-card p {
  font-size: 1rem;
  line-height: 1.5;
  color: #c0f0ff;
  text-shadow: 0 0 6px rgba(192, 240, 255, 0.5);
  margin-bottom: 15px;
}

.project-card a {
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 25px;
  background: #00f0ff;
  color: #03121a;
  font-weight: bold;
  transition: background 0.3s, box-shadow 0.3s;
}

.project-card a:hover {
  background: #00c0aa;
  box-shadow: 0 0 15px #00f0ff;
}

.star,
.moving-star {
  position: fixed;
  border-radius: 50%;
  z-index: 0;
}

.star {
  background: #ffffff;
  opacity: 0.9;
  box-shadow: 0 0 8px #ffffff;
  animation: twinkle 2s infinite ease-in-out alternate;
}

@keyframes twinkle {
  from {
    opacity: 0.3;
    transform: scale(1);
  }

  to {
    opacity: 1;
    transform: scale(1.4);
  }
}

.moving-star {
  background: #99ddff;
  box-shadow: 0 0 10px #99ddff;
  opacity: 0.8;
  animation: moveStar linear infinite;
}

@keyframes moveStar {
  from {
    transform: translate(0, 0);
    opacity: 1;
  }

  to {
    transform: translate(-200px, 200px);
    opacity: 0;
  }
}

@media (max-width: 900px) {
  .project-card {
    width: 90%;
  }
}
/* ===== Fix Projects & Services Images ===== */

.project-card img,
.service-card img {
  width: 100%;
  height: 220px; /* مقاس ثابت */
  object-fit: cover; /* يظبط الصورة جوه المربع */
  border-radius: 12px;
}
